/* exp */

.articles-recent-images:hover, .articles-trending-images:hover, .articles-slideshow-image:hover {
opacity: .5;
  transition: .5s ease;
  background-color: #FFFFFF;
}


/* HEADER */

header {
    padding-top: 50px;
}

.vertical-center-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    height: 50vh;
    background-image: url('../images/articles/header/articles-header-image-01.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* END HEADER */


/* SLIDESHOW */

.articles-slideshow-image {
    width: 100%;
}

/* END SLIDESHOW */

/* ARTICLES */

.articles-title {
   text-align: center;
   padding: 20px 0px 20px 0px;
}

.articles-about {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
}

.articles-paragraph {
text-align: center;
padding: 20px 200px 20px 200px;
}

.articles-trending {
text-align: center;
padding: 40px 20px 20px 20px;
}

.articles-recent {
text-align: center;
padding: 20px 20px 20px 20px;
}

.articles-trending-recent {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}


.articles-trending-images {
    margin: 0px 10px 10px 10px;
    width: 30%;
}

.articles-recent-images {
    width: 46%;
     margin: 0px 10px 10px 10px;
}

/* END ARTICLES */


@media only screen and (max-width: 1630px) {

.articles-paragraph {
padding: 0px 170px 40px 170px;
}

}

@media only screen and (max-width: 1600px) {

.articles-paragraph {
padding: 0px 150px 20px 150px;
}

}

@media only screen and (max-width: 600px) {
    
header{
    padding-top: 50px;
    padding-bottom: 0px;
}


.about-header-images{
    flex-direction: column;
    width: 50%;
}

.articles-trending-images {
    width: 46%;
}

.about-us-title{
padding: 0px 20px 0px 20px;
}

.articles-paragraph {
text-align: center;
padding: 20px 20px 20px 20px;
}

}

@media only screen and (max-width: 550px) {

.recent-responsive {
    margin-bottom: 20px;
}


.about-us-paragraph {
padding: 0px 20px 40px 20px;
}


}
}