/* COLOR PALETTES */

/* #F3F4F3  - Light Grey*/
/* #BBD6BD  - Light Green*/
/* #6F8970 - Greenish */
/* #D5BDA7 - Beige */
/* #8B5B3A - Redish Beige*/
/* #B8A490 - Light Brown */
/* #877467 - Dark Brown */
/* #5A725C - Dark Green */

/* END COLOR PALETTES */

/* HEADER SECTION */

/* Main Header */

.main-header-image {
 width:100%; 
 height:auto; 
 margin:0 auto;
}

header{
    padding-top: 100px;
    height: 100vh;
    background-image: url('../images/landing/header/main-header-image-06.png');
    background-size: cover;
    background-attachment: fixed;
}

.header-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.header-subtitle {
    text-transform: uppercase;
    color: #5A725C;
    justify-content: center;
    align-items: center;
    position: static;
    padding: 40px 0;
    letter-spacing: .5rem;
    font-weight: 900;
}

#header-subtitle:hover {
color:#6F8970;
}

.header-logo {
margin-top: 250px;
}

.header-subtitle {

}

/* END HEADER SECTION */

/* IMAGES SECTION */

.images-section {
     width:100%; 
}

/* END IMAGES SECTION */

/* OUR STORY SECTION */

.our-story {
background-color: #8B5B3A;
color: #FFFFFF;
margin-bottom: 5px;
margin-top: 5px;
padding: 50px;
}

.story-title, .story {
    text-align: center;
}
/* END OUR STORY SECTION */

/* INSPIRATIONAL QUOTE SECTION */
.inspirational-quote {
background-color: #5A725C;
margin-bottom: 5px;
padding: 50px;
}

.quote {
    text-align: center;
     color: white;
     font-style: italic;
}

/* END INSPIRATIONAL QUOTE SECTION */


/* SECONDARY FOOTER */

.secondary-footer {
    margin: 20px 20px 20px 20px;
    justify-content: center;
}

.content-secondary-footer {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.btn {
    background-color: #5A725C;
    border: none;
    color: white;
    padding: 15px 75px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #6F8970;
}

.logo-secondary-footer {
    margin: 0px 50px 0px 50px;
}

.box-secondary-footer {
    padding: 40px 40px 40px 40px;
}

/* END SECONDARY FOOTER */

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
.secondary-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px 10px 20px;
}

.logo-secondary-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container {
    padding: 0px 50px 0 50px;
}
}
/* END MEDIA QUERIES */