/* COLOR PALETTES */

/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV BAR SECTION*/

.nav-bar {
    display: flex;
    height: 50px;
    position: fixed;
    background-color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 1;
}

/* Logo */

.title {
    text-transform: uppercase;
}

/* Hamburger Manu */

#hamburger-menu {
    display: none;
}

/* Nav-links */

/* ul */
#nav-links {
    list-style-type: none;
    margin-left: auto;
}

/* li */
.nav-links {
    float: left;
    display: block;
}

/* NAV BAR SECTION*/

/* HEADER SECTION */

/* Main Header */

.main-header-image {
 width:100%; 
 height:auto; 
 margin:0 auto;
}

header{
    padding-top: 50px;
}

.header-logo, .header-subtitle {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
}

.header-logo {
      top: 30%;
}

.header-subtitle {
      top: 43%;
}

/* HEADER SECTION */


/* IMAGES SECTION */

.images-section {
     width:100%; 
}