/* COLOR PALETTES */

/* #F3F4F3  - Light Grey*/
/* #BBD6BD  - Light Green*/
/* #6F8970 - Greenish */
/* #D5BDA7 - Beige */
/* #8B5B3A - Redish Beige*/
/* #B8A490 - Light Brown */
/* #877467 - Dark Brown */
/* #5A725C - Dark Green */

/* END COLOR PALETTES */

/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #F3F4F3;
}

a {
    text-decoration: none;
    color: black;
}

/* END GLOBAL */

/* NAV BAR SECTION*/

.nav-bar {
    display: flex;
    height: 50px;
    position: fixed;
    background-color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid gainsboro;
    z-index: 1;
}

/* Logo */

.title {
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #5A725C;
}

/* Hamburger Manu */

#hamburger-menu {
    display: none;

}

/* Nav-links */

/* ul */
#nav-links {
    list-style-type: none;
    margin-left: auto;   
}

/* li */
.nav-links {
    float: left;
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #5A725C;
}

.nav-links:hover, .title:hover {
    color: #6F8970;
    font-weight: bold;
}

/* END NAV BAR SECTION*/

/* FOOTER */

.footer {
    justify-content: space-around;
    border-top: 1px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.footer, .secondary-footer {
display: flex;
}

.content-footer{ 
    margin: 20px 20px 10px 20px;
    font-size: 12px;
    justify-content: space-between;
    color: #8B5B3A;
}

.copy {
    margin-bottom: 5px;
}

.social-links {
  font-size: 24px;
  margin: 10px 5px  5px 5px;
  padding: 0 10px 0 10px;
  color: #8B5B3A;
}


/* END FOOTER */

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  #hamburger-menu {
    margin-left: auto; 
    float: left;
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
#nav-links {
    display: none;
}

.footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links {
    flex-direction: row;
}

}

/* END MEDIA QUERIES */